html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  line-height: 1.3;
  font-weight: 300;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Public Sans, sans-serif;
  font-size: 14px;
  color: var(--grayishblue);
  width: 100%;
}

/* Colors */
:root {
  --darkblue: hsl(233, 26%, 24%);
  --limegreen: hsl(136, 65%, 51%);
  --brightcyan: hsl(192, 70%, 51%);
  --grayishblue: hsl(233, 8%, 62%);
  --lightgrayishblue: hsl(220, 16%, 96%);
  --verylightgray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

/*Text*/
h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.15;
  color: var(--darkblue);
  margin-top: 0px;
}

h1 {
  font-size: 2.31rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}

/* Header */

.header {
  margin: auto;
  padding-left: 8rem;
  padding-right: 8rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 8.8125rem;
  height: 1.375rem;
}

nav {
  position: relative;
  background-color: var(--white);
}

.button {
  color: var(--white);
  font-weight: 400;
  font: 0.875rem;
  padding: 0.875rem 1.875rem;
  border: 0;
  border-radius: 50px;
  background: linear-gradient(to right, var(--limegreen), var(--brightcyan));
  cursor: pointer;
  white-space: nowrap;
  transition: opacity 300ms ease-in-out;
}

.button:hover {
  opacity: 0.5;
}

.closeButton {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: var(--grayishblue);
}

.links {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background: var(--white);
  padding: 1.625rem;
  border-radius: 5px;
}

.links a {
  display: block;
  padding: 0.625rem;
  color: var(--grayishblue);
  text-align: center;
}

.links a:hover {
  color: var(--darkblue);
  transition: color 200ms ease-in-out;
  position: relative;
}

.links a:hover::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--limegreen);
}

.links a:not(:last-child) {
  margin-right: 32px;
}

.closeButton.hidden {
  display: none;
}

.menu.hidden {
  display: none;
}

#overlay.hidden {
  position: fixed;
  top: 3.75rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.7));
}

.mobile_links {
  display: flex;
  gap: 1.5rem 0;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 4.5rem;
  padding: 20px;
  background-color: var(--white);
  border-radius: 4px;
  width: 80%;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}

.mobile_links a {
  color: var(--darkblue);
  font-weight: 700;
  font-size: 1.125rem;
  z-index: 5;
}

.mobile_links a:hover {
  color: var(--limegreen);
}

.second_button,
.third_button {
  color: var(--white);
  margin-top: 20px;
  display: inline-block;
  padding: 0.875rem 2.875rem;
  background: linear-gradient(to right, var(--limegreen), var(--brightcyan));
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.875rem;
  transition: opacity 300ms ease-in-out;
}

.second_button:hover,
.third_button:hover {
  opacity: 0.5;
}

.section {
  background-color: var(--verylightgray);
}

.section_image {
  position: relative;
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

.section_image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/images/image-mockups.png");
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.section_text {
  text-align: center;
}

.feature {
  background-color: var(--lightgrayishblue);
  text-align: center;
}

.feature_container {
  max-width: 69.375rem;
  margin: 0 auto;
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

.feature_intro {
  margin-bottom: 3.75rem;
  text-align: left;
}

.feature_grid {
  display: flex;
}

.feature_item {
  padding: 0.9375rem;
  text-align: left;
}

.feature_icon {
  margin-bottom: 1.875rem;
}

.feature_title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.15;
  color: var(--darkblue);
  margin-bottom: 1rem;
}

.feature_description {
  line-height: 1.5;
  font-size: 0.875rem;
}

.article {
  background-color: var(--verylightgray);
}

.article_container {
  max-width: 69.375rem;
  margin: 0 auto;
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

.article_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}

.article_item {
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  transition: all 150ms ease-in-out;
}

.article_item:hover {
  transform: scale(1.05);
}

.article_image_a {
  background-image: url("/images/image-currency.jpg");
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.article_image_b {
  background-image: url("/images/image-restaurant.jpg");
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.article_image_c {
  background-image: url("/images/image-plane.jpg");
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.article_image_d {
  background-image: url("/images/image-confetti.jpg");
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.article_title {
  font-size: 1.0625rem;
  line-height: 1.2;
  color: var(--darkblue);
  margin-bottom: 0.5rem;
}

.article_title:hover {
  color: var(--limegreen);
}

.article_author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}

.article_text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: var(--grayishblue);
}

.article_description {
  font-size: 0.8125rem;
}

.footer {
  background-color: var(--darkblue);
  color: var(--white);
  padding: 2.5rem;
  text-align: center;
}

.footer_container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.footer a {
  color: var(--white);
}

.footer a:hover {
  color: var(--limegreen);
}

.footer_logo {
  display: inline-block;
}

.footer_social a {
  display: inline-block;
  height: 1.25rem;
}

.footer_social a svg path {
  transition: fill 150ms ease-in-out;
}

.footer_social a:not(:last-child) {
  margin-right: 1rem;
}

.footer_links_a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9375rem;
}

.footer_links_b {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9375rem;
}

.footer_links a {
  line-height: 2.25;
  transition: color 150ms ease-in-out;
}

.footer_button {
  color: var(--white);
  text-align: right;
  justify-self: end;
}

.footer_copyright {
  font-size: 0.8125rem;
  color: var(--grayishblue);
}

/*Large*/
@media (min-width: 1400px) {
}

/*Medium*/
@media (min-width: 950px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 3.25rem;
  }
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
  menu {
    display: none;
  }
  .closeButton {
    display: none;
  }

  h1 {
    font-weight: 300;
    font-size: 3.35rem;
    line-height: 1.15;
    color: var(--darkblue);
    margin-bottom: 1.5rem;
  }

  p {
    line-height: 1.5;
  }

  .section {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 69.375rem;
    background-color: var(--white);
  }

  .section_image {
    flex: 3;
    order: 2;
    height: 41rem;
    background-image: none;
  }

  .section_image::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url("/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 150%;
    background-size: 122%;
    background-position: 0% 83%;
  }

  .section_image::after {
    width: 120%;
    height: 122%;
    background-size: 94%;
    background-position: center 150%;
    left: 22%;
  }

  .section_text {
    flex: 2;
    order: 1;
    text-align: left;
  }

  .feature_intro {
    width: 60%;
  }

  .feature_item {
    flex: 1;
  }

  .feature_icon {
    margin-bottom: 2.75rem;
  }

  .feature_title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .article_grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer_container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 3fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "logo links1 links2 cta"
      "social links1 links2 copyright";
    gap: 1rem;
    justify-items: start;
  }

  .footer_logo {
    grid-area: logo;
  }

  .footer_social {
    grid-area: social;
    align-self: end;
  }

  .footer_links_a {
    justify-content: space-between;
    align-items: start;
  }

  .footer_links_b {
    justify-content: space-between;
    align-items: start;
  }

  .footer_links_a {
    grid-area: links1;
  }

  .footer_links_b {
    grid-area: links2;
  }

  .footer_copyright {
    grid-area: copyright;
    align-self: end;
    justify-self: end;
  }
}

/*Small*/
@media (max-width: 950px) {
  span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: var(--darkblue);
    margin-bottom: 3px;
  }
  .button {
    display: none;
  }
  .links {
    display: none;
  }

  .header {
    padding: 0 1rem;
  }

  nav {
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
    justify-content: space-between;
  }

  h1 {
    font-weight: 300;
    font-size: 2.31rem;
    line-height: 1.15;
    color: var(--darkblue);
    margin-bottom: 1.5rem;
  }

  p {
    line-height: 1.5;
  }

  .section_image {
    min-height: 25rem;
    background-position: center 70%;
  }

  .section_image::after {
    background-size: 100%;
  }

  .section_text {
    margin: 10%;
  }

  .feature_intro {
    text-align: center;
    margin: 5%;
  }

  .feature_grid {
    display: flex;
    flex-wrap: wrap;
  }

  .feature_item {
    text-align: center;
  }

  .article_grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
  }

  .article_text {
    padding: 1.875rem 1.5625rem;
  }

  .footer_logo {
    margin-bottom: 1.875rem;
  }

  .footer_social {
    margin-bottom: 1.875rem;
  }

  .footer_links_b {
    margin-bottom: 1.875rem;
  }

  .footer_button {
    margin-bottom: 1.875rem;
    display: block;
    justify-self: center;
    text-align: center;
  }
}
